body,
* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
}


main {
    padding: 0 100px;
}

/* header section start */
.header nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    align-items: center;
}

.header nav h3 {
    color: #032027;
    font-size: 30px;
}

.primary-btn {
    border: none;
    padding: 16px 20px;
    border-radius: 8px;
    background: #08C573;
    border: 2px solid #08C573;
    color: #fff;
    transition: all .6s linear;
    font-weight: bold;
}

.header nav button:hover {
    cursor: pointer;
    background: none;
    border: 2px solid #08C573;
    color: #08C573;
}

.header nav ul {
    display: flex;
}

.header nav ul li {
    list-style: none;
    padding: 10px 18px;
}

.header nav ul li a {
    text-decoration: none;
    color: rgba(3, 32, 39, 0.70);
    padding: 10px 18px;
    transition: all .8s ease-in-out;
}

.header nav ul li:hover>a {
    background: linear-gradient(90deg, #032027 0%, rgba(21, 21, 21, 0.00) 129.32%);
    padding: 10px 18px;
    color: #fff;
    border-radius: 10px;
}

.header .header-banner {
    background: linear-gradient(90deg, #032027 0%, rgba(21, 21, 21, 0.00) 129.32%), url('../images/bg1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 30px 100px;
    height: 550px;
    border-radius: 16px;
}

.header .header-banner .header-detail {
    padding: 50px 120px 100px 120px;
    color: #fff;
    width: 550px;
}

.header .header-banner .header-detail h2 {
    font-size: 64px;
}

.header .header-banner .header-detail p {
    color: rgba(255, 255, 255, 0.80);
    padding: 24px 0;
    line-height: 30px;
}

.header .header-banner .header-detail button {
    border: none;
    padding: 15px 25px;
    border-radius: 30px;
    background: #08C573;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
}

/* header section end */

/* about section start */

.about-section {
    padding: 50px 100px;
}


.about-section .about-detail {
    display: flex;
    align-items: start;
    gap: 50px;
}

.about-section .about-detail .about-photo {
    position: relative;
}

.about-section .about-detail .about-photo .img1 {
    z-index: 5;
    position: relative;
}

.about-section .about-detail .about-photo .img2 {
    background: #08C573;
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 16px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -50px;
    left: -80px;
    z-index: 10;

}

.about-section .about-detail .about-photo .img2 span {
    font-size: 40px;
    display: block;
}

.about-section .about-detail .about-photo .img3 img {
    position: absolute;
    bottom: 120px;
    left: -110px;
}

.about-section .about-detail .about-info .span1 {
    color: #08C573;
}


.about-section .about-detail .about-info h2 {
    color: #032027;
    font-size: 28px;
    font-weight: 600;
    padding: 16px 0px;
}

.span2 {
    color: #08C573;
    font-size: 28px;
    font-weight: 600;
}

.about-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.about-images .about-img1,
.about-img2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.about-img1 {
    border-radius: 8px;
    background: rgba(255, 73, 116, 0.05);
    padding: 30px;
    margin: 24px 0px;
}

.about-img2 {
    border-radius: 8px;
    background: rgba(8, 197, 115, 0.05);
    padding: 30px;
    margin: 24px 0px;
}

.about-btn {
    width: 150px;
    border-radius: 30px;
    margin: 30px 0px;
    text-align: center;
    cursor: pointer;
}

/* about section end */


/* service section start */

.service-section {
    margin: 110px 0px;
}

.service-section .service-title h2 {
    color: #032027;
    font-size: 28px;
    font-weight: 600;
    padding: 16px 0px;
}

.service-section .service-title p {
    width: 70%;
}


.service-link {
    margin: 30px 0px 14px 0px;
    border-radius: 30px;
    border: 1px solid #08C573;
    width: 150px;
    text-align: center;
    padding: 11px 25px;
    display: none;
}

.service-link a {
    text-decoration: none;
    color: #08C573;
    font-size: 20px;
    font-weight: 600;
}




.service-section .servcie-details {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}


.service-section .servcie-details .service-item {
    padding: 30px;
    border-radius: 8px;
    background: rgba(3, 32, 39, 0.03);
}

#serv-phto {
    grid-row: span 2;
}

.service-section .servcie-details .service-item h4 {
    padding: 15px 0px;
}

/* service section end */


/* company detail start */
.company-details{
    display: flex;
    justify-content: center;
    gap: 125px;
}
.company-details .company-detail{
    text-align: center;
}
.company-details .company-detail .detail-title{
    color: #032027;
    font-size: 64px;
    font-weight: 700;

}


.company-details .company-detail p {
    color: rgba(3, 32, 39, 0.60);
    font-size: 20px;
    font-weight: 400;
    padding-top: 7px;
}

/* company detail end */




/* media query start for small device */

@media screen and (max-width: 576px) {
    main {
        padding: 0px;
    }

    .header {
        margin: 0 auto;
    }

    .header nav,
    ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
    }

    .header .header-banner {
        background: linear-gradient(90deg, #032027 0%, rgba(21, 21, 21, 0.00) 129.32%), url('../images/bg1.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        border-radius: 16px;
        margin: 0;
    }

    .header .header-banner .header-detail {
        color: #fff;
        width: 100%;
        padding: 20px;
        margin-top: 30px;
    }

    .header .header-banner .header-detail h2 {
        width: 400px;
        font-size: 40px;
    }

    .header .header-banner .header-detail p {
        width: 350px;
        font-size: 16px;
    }

    .about-section {
        padding: 40px 0px;
    }

    .about-detail {
        flex-direction: column;
    }

    .about-detail .about-info {
        width: 100%;
        text-align: left;
    }

    .about-detail .about-photo .img2 {
        width: 100px;
        height: 100px;
    }

    .about-detail .about-photo img {
        width: 100%;
    }

    .about-images {
        flex-direction: column;
        align-items: start;
    }

    .about-section .about-detail .about-photo .img2 {
        bottom: -40px;
        left: -20px;
        width: 120px;
        height: 120px;
        padding: 20px;
    }

    .about-photo .img2 img {
        width: 50%;
    }
    .service-section .service-title {
        text-align: left;
        padding: 20px;
    }

    .service-section .service-title p {
        width: 100%;
    }

    .service-link {
        display: block;
        margin-bottom: 20px;
    }

    .service-section .servcie-details {
        margin: 0px 10px 10px 10px;
        grid-template-columns: 1fr;
        gap: 5px;
    }

    .service-section .servcie-details .service-photo img {
        width: 100%;
    }

    .service-section .servcie-details .service-item p {
        width: 100%;
    }

    .company-details, .company-detail{
        flex-direction: column;
    }
    .company-details{
        gap: 45px;
    }
}